{% extends 'base.html.twig' %}

{% block title %}Show author{% endblock %}

{% block body %}
    <h1>Show author</h1>
    {% if author %}
        <h2>Author id and name: {{ author.id }} {{ author.name }}</h2>
        <ul>{% for m in author.getMessages %}
                <li>Message id: {{ m.id}} Content: {{m.contents}}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Sorry, no messages were found!</p>
    {% endif %}

    <h1>Show author version 2</h1>
    {{author.name|e}}
    {% set messages = author.messages %}
    {% for m in messages %}
        {{m.contents|e}}
    {% endfor %}

{% endblock %}